{% extends "default-layout.html" %}

{% block body %}
<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed blog-content">
    <div class="am-u-md-8 am-u-sm-12">
        <article class="am-article blog-article-p">
            <div class="am-article-hd">
                <h1 class="am-article-title blog-text-center">About ME</h1>
                <p class="am-article-meta blog-text-center">
                    <span>1991/11/11 &nbsp;</span>
                    <span>多赚点钱，赚的钱多好，很多事自然就变了</span>
                </p>
            </div>
            <div class="am-article-bd">
                <img src="https://lattecake.oss-cn-beijing.aliyuncs.com/static/images/about_me.jpg" alt=""
                     class="blog-entry-img blog-article-margin">
                <p class="am-article-lead">
                    人生最要紧的就是要保持微笑。生命如此美妙，有太多的事，都值得微笑以对...
                    <blockquote>
                <p>People think focus means saying yes to the thing you’ve got to focus on. But that’s not what it means
                    at all. It means saying no to the hundred other good ideas that there are. You have to pick
                    carefully. I’m actually as proud of the things we haven’t done as the things I have done. Innovation
                    is saying no to 1,000 things.</p>
                <footer><cite>Steve Jobs</cite> – Apple Worldwide Developers’ Conference, 1997</footer>
                </blockquote>
                <h1>Know-How:</h1>
                <table class="am-table am-table-bordered">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Level</th>
                        <th>Datetime</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Marathon</td>
                        <td>1500+km</td>
                        <td>2013/10/19~2019/09/01</td>
                    </tr>
                    <tr>
                        <td>Code</td>
                        <td>Go,Python,Lua,PHP,Java,C++,React</td>
                        <td>2012/01</td>
                    </tr>
                    <tr>
                        <td>Photography</td>
                        <td>Canon EOS 5D Mark III</td>
                        <td>2015/05/01</td>
                    </tr>
                    <tr>
                        <td>Footprint</td>
                        <td>北京,广州,深圳,厦门,大连,天津,杭州,南昌,长沙,张家口,北戴河,上海,无锡,青岛,烟台,蓬莱</td>
                        <td>end: 2019/05</td>
                    </tr>
                    <tr>
                        <td>Domain</td>
                        <td>https://lualu.co | https://nsini.com</td>
                        <td>default</td>
                    </tr>
                    </tbody>
                </table>
                <hr>
                <h1>(⁎⁍̴̛ᴗ⁍̴̛⁎)</h1>
                <ul class="am-list am-list-border">
                    <li><a href="http://wx.lattecake.com/"><i class="am-icon-home am-icon-fw"></i>
                            每个人都有一个死角， 自己走不出来，别人也闯不进去。</a></li>
                    <li><a href="/life"> <i class="am-icon-book am-icon-fw"></i>
                            多赚点钱，赚的钱多了，很多事自然就变了。</a></li>
                    <li><a href="/about"><i class="am-icon-pencil am-icon-fw"></i>你不懂我，我不怪你。</a></li>
                </ul>
                <h1>Just do me：</h1>
                <p>
                    不跑马拉松的摄影师不是好程序员（＾ω＾）, 一名年近三十天蝎座男 ∑( ° △ °|||)︴码农！毕业于遥远的南方某学校, 入坑七年。
                </p>
                <p>
                    呵呵: 与其用泪水悔恨昨天，不如用汗水拼搏今天。当眼泪流尽的时候，留下的应该是坚强。
                </p>
                <p>
                    日常: 摄影、动漫、旅游、网球、马拉松
                </p>
            </div>
        </article>

        <div class="am-g blog-article-widget blog-article-margin">
            <div class="am-u-lg-4 am-u-md-5 am-u-sm-7 am-u-sm-centered blog-text-center">
                <span class="am-icon-tags"> &nbsp;</span><a href="#">标签</a> , <a href="#">TAG</a> , <a href="#">啦啦</a>
                <hr>
                <a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon"></span></a>
                <a href=""><span class="am-icon-wechat am-icon-fw blog-icon"></span></a>
                <a href=""><span class="am-icon-weibo am-icon-fw blog-icon"></span></a>
            </div>
        </div>

        <hr>

    </div>

    <div class="am-u-md-4 am-u-sm-12 blog-sidebar">
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>薛定谔的猿</span></h2>
            <img src="https://lattecake.oss-cn-beijing.aliyuncs.com/static%2Fimages%2Fweixin%2Fqrcode_for_gh_354bc8e8b814_1280.jpg"
                 alt="about me"
                 class="blog-entry-img">
            <p>不跑马拉松的摄影师不是好程序员</p>
            <p>
                How does the world look through your eyes?
            </p>
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>Contact ME</span></h2>
            <p>
                <a href="https://i.qq.com/?rd=1"><span class="am-icon-qq am-icon-fw am-primary blog-icon"></span></a>
                <a href="https://github.com/lattecake"><span class="am-icon-github am-icon-fw blog-icon"></span></a>
                <a href="https://weibo.com/solacowa/"><span class="am-icon-weibo am-icon-fw blog-icon"></span></a>
                <a href="http://wx.lattecake.com/"><span class="am-icon-weixin am-icon-fw blog-icon"></span></a>
            </p>
        </div>
        <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
            <h2 class="blog-title"><span>TAG cloud</span></h2>
            <div class="am-u-sm-12 blog-clear-padding">
                <a href="" class="blog-tag">码农</a>
                <a href="" class="blog-tag">Gopher</a>
                <a href="" class="blog-tag">开源</a>
                <a href="" class="blog-tag">Kubernetes</a>
                <a href="" class="blog-tag">Docker</a>
            </div>
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-title"><span>么么哒</span></h2>
            <ul class="am-list">
                <li><a href="#">每个人都有一个死角， 自己走不出来，别人也闯不进去。</a></li>
                <li><a href="#">多赚点钱，赚的钱多了，很多事自然就变了。</a></li>
                <li><a href="#">每个人都有一道伤口， 或深或浅，盖上布，以为不存在。</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- content end -->
{% endblock %}