{% extends "default-layout.html" %}

{% block body %}

<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-md-12 am-u-sm-12">

        {% for post in list %}
        <article class="am-g blog-entry-article">
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img">
                <a href="/post/{{post.id}}">
                    <img src="{{post.image_url}}?imageView2/1/w/600/h/320/q/75|imageslim" alt="" class="am-u-sm-12">
                </a>
            </div>
            <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text">
                <span><a href="/post/{{post.id}}" class="blog-color">article &nbsp;</a></span>
                <span> @{{post.author}} &nbsp;</span>
                <span>{{post.publish_at}}</span>
                <h1><a href="/post/{{post.id}}">{{post.title}}</a></h1>
                <p>{{post.desc}}</p>
                <p><a href="/post/{{post.id}}" class="blog-continue">continue reading</a></p>
            </div>
        </article>
        {% endfor %}

        <ul class="am-pagination">
            {{paginator|str2html}}
        </ul>
    </div>

</div>
<!-- content end -->
{% endblock %}