
<!-- nav start -->
<nav class="am-g am-g-fixed blog-fixed blog-nav">
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button" data-am-collapse="{target: '#blog-collapse'}" ><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="blog-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav">
            <li {% ifequal "index" action %}class="am-active"{% endifequal %}><a href="/">Home</a></li>
            <li {% ifequal "about" action %}class="am-active"{% endifequal %}><a href="/about">About</a></li>
            <li {% ifequal "blog-left-sidebar" action %}class="am-active"{% endifequal %}><a href="/post">Posts</a></li>
            <li {% ifequal "reward" action %}class="am-active"{% endifequal %}><a href="/reward">Reward</a></li>
        </ul>
    </div>
</nav>
<!-- nav end -->
<hr>