{% extends "default-layout.html" %}

{% block body %}
<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed blog-content">
    <div class="am-u-md-8 am-u-sm-12">
        <article class="am-article blog-article-p">
            <div class="am-article-hd">
                <h1 class="am-article-title blog-text-center">不知道刷脸行不行</h1>
                <p class="am-article-meta blog-text-center">
                    <span>谢谢各位老板</span>
                </p>
            </div>
            <div class="am-article-bd">
                <img src="https://lattecake.oss-cn-beijing.aliyuncs.com/static/images/about_me.jpg" alt=""
                     class="blog-entry-img blog-article-margin">
                <p class="am-article-lead">
                    人生最要紧的就是要保持微笑。生命如此美妙，有太多的事，都值得微笑以对...
                <blockquote>

                    如果您觉得文章写得不错，欢迎打赏打赏博主，您的一点点支持将会是博主无限的动力。

                    打赏的方式有两种：微信与支付宝，绝对赤裸裸的金钱打赏！
                </blockquote>
                <h1>$ 打赏 (*ˉ︶ˉ*):</h1>
                {% if post %}
                    <ul class="am-list am-list-border">
                        <li><a href="/post/{{post.id}}?s=reward"><i
                                        class="am-icon-book am-icon-fw"></i>
                                《{{post.title}}》</a></li>
                    </ul>
                {% endif %}
                <hr>
                <h1>扫码打赏:</h1>
                好人一生平安...

                <h2>土豪随意</h2>

                <table class="am-table am-table-bordered">
                    <thead>
                    <tr>
                        <th width="50%">扫码</th>
                        <th>金额</th>
                        <th>平台</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><img
                                    src="https://lattecake.oss-cn-beijing.aliyuncs.com/static%2Fimages%2Freward%2Falipay-RMB-xxx.png"
                                    alt="."></td>
                        <td>随意</td>
                        <td>支付宝</td>
                    </tr>
                    <tr>
                        <td><img
                                    src="https://lattecake.oss-cn-beijing.aliyuncs.com/static%2Fimages%2Freward%2Fweixin-RMB-xxx.JPG"
                                    alt="."
                                    style="width: 100%;"></td>
                        <td>随意</td>
                        <td>微信</td>
                    </tr>
                    </tbody>
                </table>

                <h2>微信各种档位</h2>
                <table class="am-table am-table-bordered">
                    <thead>
                    <tr>
                        <th width="30%">扫码</th>
                        <th>金额</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><img
                                    src="https://lattecake.oss-cn-beijing.aliyuncs.com/static%2Fimages%2Freward%2Fweixin-RMB-1.JPG"
                                    alt="."></td>
                        <td>¥1.00</td>
                    </tr>
                    <tr>
                        <td><img
                                    src="https://lattecake.oss-cn-beijing.aliyuncs.com/static%2Fimages%2Freward%2Fweixin-RMB-2.JPG"
                                    alt="."></td>
                        <td>¥2.00</td>
                    </tr>
                    <tr>
                        <td><img
                                    src="https://lattecake.oss-cn-beijing.aliyuncs.com/static%2Fimages%2Freward%2Fweixin-RMB-5.JPG"
                                    alt="."></td>
                        <td>¥5.00</td>
                    </tr>
                    <tr>
                        <td><img
                                    src="https://lattecake.oss-cn-beijing.aliyuncs.com/static%2Fimages%2Freward%2Fweixin-RMB-10.JPG"
                                    alt="."></td>
                        <td>¥10.00</td>
                    </tr>
                    <tr>
                        <td><img
                                    src="https://lattecake.oss-cn-beijing.aliyuncs.com/static%2Fimages%2Freward%2Fweixin-RMB-20.JPG"
                                    alt="."></td>
                        <td>¥20.00</td>
                    </tr>
                    <tr>
                        <td><img
                                    src="https://lattecake.oss-cn-beijing.aliyuncs.com/static%2Fimages%2Freward%2Fweixin-RMB-50.JPG"
                                    alt="."></td>
                        <td>¥50.00</td>
                    </tr>
                    <tr>
                        <td><img
                                    src="https://lattecake.oss-cn-beijing.aliyuncs.com/static%2Fimages%2Freward%2Fweixin-RMB-100.JPG"
                                    alt="."></td>
                        <td>¥100.00</td>
                    </tr>
                    <tr>
                        <td><img
                                    src="https://lattecake.oss-cn-beijing.aliyuncs.com/static%2Fimages%2Freward%2Fweixin-RMB-200.JPG"
                                    alt="."></td>
                        <td>¥200.00</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </article>

    </div>

    <div class="am-u-md-4 am-u-sm-12 blog-sidebar">
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>薛定谔的猿</span></h2>
            <img src="https://lattecake.oss-cn-beijing.aliyuncs.com/static%2Fimages%2Fweixin%2Fqrcode_for_gh_354bc8e8b814_1280.jpg"
                 alt="about me"
                 class="blog-entry-img">
            <p>不跑马拉松的摄影师不是好程序员</p>
            <p>
                How does the world look through your eyes?
            </p>
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>Contact ME</span></h2>
            <p>
                <a href="https://i.qq.com/?rd=1"><span class="am-icon-qq am-icon-fw am-primary blog-icon"></span></a>
                <a href="https://github.com/lattecake"><span class="am-icon-github am-icon-fw blog-icon"></span></a>
                <a href="https://weibo.com/solacowa/"><span class="am-icon-weibo am-icon-fw blog-icon"></span></a>
                <a href="http://wx.lattecake.com/"><span class="am-icon-weixin am-icon-fw blog-icon"></span></a>
            </p>
        </div>
        <div class="blog-clear-margin blog-sidebar-widget blog-bor am-g ">
            <h2 class="blog-title"><span>TAG cloud</span></h2>
            <div class="am-u-sm-12 blog-clear-padding">
                <a href="" class="blog-tag">码农</a>
                <a href="" class="blog-tag">Gopher</a>
                <a href="" class="blog-tag">开源</a>
                <a href="" class="blog-tag">开源</a>
            </div>
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-title"><span>么么哒</span></h2>
            <ul class="am-list">
            </ul>
        </div>
    </div>
</div>
<!-- content end -->
{% endblock %}