{% extends "default-layout.html" %}

{% block body %}
<article>
    <div class="whitebg about">
        <div class="ab_box"> <i class="avatar_pic"><img src="{{site_about_avatar}}"></i>
            <h3>{{site_about_name}}</h3>
            <p>
                {{site_about_desc|markdown}}
            </p>
        </div>
        <h2 class="gd_title">About</h2>
        <p class="ab_dubai">
            {{site_about_content|markdown}}
        </p>
        <!--<span class="ly_button"><a href="#" target="_blank">留言</a></span>-->
        {{site_about_other|markdown}}
    </div>
</article>
{% endblock %}