<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% block headtitle %}
    <title>{{title}} {{site_name}}</title>
    {% endblock %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="site" content="{{site_domain}}"/>

    {% block metadescription %}
    <meta name="description" content="{{site_description}} {{title}}">
    {% endblock %}
    <meta name="keywords" content="{{site_keywords}} {{title}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon.png?t={{service_start_time}}">
    <meta name="msapplication-TileImage" content="/img/favicon.ico?t={{service_start_time}}">
    <link rel="icon" href="{{site_icon}}" type="image/x-icon">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link href="/css/base.css?t={{service_start_time}}" rel="stylesheet">
    <link href="/css/m.css?t={{service_start_time}}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/js/modernizr.js?t={{service_start_time}}"></script>
    <![endif]-->
    {% block stylesheet %}
    {% endblock %}

    {{site_global_header_code|markdown}}
</head>
<body>
<!--top begin-->
<header id="header">
    <div class="navbox">
        <h2 id="mnavh"><span class="navicon"></span></h2>
        <div class="logo"><a href="/">{{site_name}}</a></div>
        <nav>
            <ul id="starlist">
                <li><a href="/">Home</a></li>
                <li><a href="/post">Posts</a></li>
                <!--<li class="menu"><a href="list2.html">分类</a>
                    <ul class="sub">
                        <li><a href="/6">技术</a></li>
                    </ul>
                    <span></span></li>-->
                <!--<li><a href="/reward">Reward</a></li>-->
                <!--<li><a href="/timeline">TimeLine</a></li>-->
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
        <div class="searchico"></div>
    </div>
</header>

<div class="searchbox">
    <div class="search">
        <form action="/search" method="get" name="searchform" id="searchform">
            <input name="keyword" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);"
                   onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}"
                   onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
            <input name="tag" value="" type="hidden">
            <input name="category" value="0" type="hidden">
            <input class="input_submit" value="搜索" type="submit">
        </form>
    </div>
    <div class="searchclose"></div>
</div>
<!--top end-->

{% block body %}
哈也木有...
{% endblock %}

<footer>
    <div class="box">
        <div class="wxbox">
            <ul>
                <li>
                    <img src="{{wechat_official_account_image}}"><span>微信公众号</span>
                </li>
            </ul>
        </div>
        <div class="endnav">
            {% if site_user_github && site_user_github != "" %}<p>GitHub: {{site_user_github}}{% endif %}</p>
            <p>{{wechat_official_account_desc}}</p>
            <!--<p>How does the world look through your eyes?</p>
            <p>人生最要紧的就是要保持微笑。生命如此美妙，有太多的事，都值得微笑以对...</p>-->
            <p>Copyright © <a href="{{site_domain}}">{{site_domain}}</a> All Rights Reserved.
                {% if site_domain_beian && site_domain_beian != "" %} 备案号：{{site_domain_beian|safe}} {% endif %}</p>
        </div>
    </div>
    <a href="#">
        <div class="top"></div>
    </a></footer>

<script src="/js/jquery-1.8.3.min.js" type="application/javascript"></script>
<script src="/js/comm.js?t={{service_start_time}}"></script>

{% block script %}
{% endblock %}

{{site_global_foobar_code|markdown}}

</body>
</html>
