{% extends "default-layout.html" %}

{% block body %}
<article>
    <div class="whitebg about">
        <h2 class="gd_title">开源项目</h2>
        <ul class="myblog">
            <li><b>开普勒云平台</b>
                <p>2019-08</p>
                <p><a href="https://github.com/kplcloud/kplcloud" target="_blank" class="buttons">访问</a></p>
            </li>
            <li><b>短链小工具</b>
                <p>2019-11</p>
                <p><a href="https://github.com/icowan/shorter" target="_blank" class="buttons">访问</a></p>
            </li>
            <li><b>刷卡小账本</b>
                <p>2019-10</p>
                <p><a href="https://github.com/icowan/cardbill" target="_blank" class="buttons">访问</a></p>
            </li>
            <li><b>Consul-KV-Client</b>
                <p>2019-02</p>
                <p><a href="https://github.com/lattecake/consul-kv-client" target="_blank" class="buttons">访问</a></p>
            </li>
            <li><b>IP数据库之openresty版</b>
                <p>2017-09</p>
                <p><a href="https://github.com/icowan/lua-resty-17mon" target="_blank" class="buttons">访问</a></p>
            </li>
        </ul>

        <h2 class="gd_title">谢谢老板</h2>
        <ul class="xinlu">
            <li><a href="#"><i style="height: auto"><img src="https://lattecake.oss-cn-beijing.aliyuncs.com/static%2Fimages%2Freward%2Fweixin-RMB-1.JPG"></i>
                    <p>￥1</p>
                    <span>恭喜发财！</span></a></li>
            <li><a href="#"><i style="height: auto"><img src="https://lattecake.oss-cn-beijing.aliyuncs.com/static%2Fimages%2Freward%2Fweixin-RMB-2.JPG"></i>
                    <p>￥2</p>
                    <span>谢谢老板！</span></a></li>
            <li><a href="#"><i style="height: auto"><img src="https://lattecake.oss-cn-beijing.aliyuncs.com/static%2Fimages%2Freward%2Fweixin-RMB-5.JPG"></i>
                    <p>￥5</p>
                    <span>老板升官发财！</span></a></li>
            <li><a href="#"><i style="height: auto"><img src="https://lattecake.oss-cn-beijing.aliyuncs.com/static%2Fimages%2Freward%2Fweixin-RMB-10.JPG"></i>
                    <p>￥10</p>
                    <span>老板早生贵子！</span></a></li>
            <li><a href="#"><i style="height: auto"><img src="https://lattecake.oss-cn-beijing.aliyuncs.com/static%2Fimages%2Freward%2Fweixin-RMB-20.JPG"></i>
                    <p>￥20</p>
                    <span>谢谢老板，老板生意兴隆！</span></a></li>
            <li><a href="#"><i style="height: auto"><img src="https://lattecake.oss-cn-beijing.aliyuncs.com/static%2Fimages%2Freward%2Fweixin-RMB-50.JPG"></i>
                    <p>￥50</p>
                    <span>跪谢老板！</span></a></li>
            <li><a href="#"><i style="height: auto"><img src="https://lattecake.oss-cn-beijing.aliyuncs.com/static%2Fimages%2Freward%2Fweixin-RMB-100.JPG"></i>
                    <p>￥100</p>
                    <span>愿为老板宽衣解带！</span></a></li>
            <li><a href="#"><i style="height: auto"><img src="https://lattecake.oss-cn-beijing.aliyuncs.com/static%2Fimages%2Freward%2Fweixin-RMB-200.JPG"></i>
                    <p>￥200</p>
                    <span>谢谢老板，老板升官发财，夜夜新郎！</span></a></li>
        </ul>

        <h2 class="gd_title">关注我</h2>
        <ul class="qq_join">
            <li>
                <section><img src="https://lattecake.oss-cn-beijing.aliyuncs.com/static%2Fimages%2Fweixin%2Fqrcode_for_gh_354bc8e8b814_1280.jpg">
                    <p>关注官方<b>微信</b>公众号</p>
                    <p>薛定谔的猿</p>
                </section>
            </li>
            <li>
                <section><img src="/images/qq.jpg">
                    <p>开普勒云平台</p>
                    <p>QQ群号：722578340</p>
                </section>
            </li>
            <li>
                <section><img src="http://source.qiniu.cnd.nsini.com//static/pay/wechat-pay.JPG?imageView2/1/w/600/h/600/q/75|imageslim">
                    <p>微信支持我</p>
                    <p>这是我更新的动力</p>
                </section>
            </li>
            <li>
                <section><img src="http://source.qiniu.cnd.nsini.com//static/pay/alipay.JPG?imageView2/1/w/600/h/600/q/75|imageslim">
                    <p>支付宝支持我</p>
                    <p>这是我更新的源泉</p>
                </section>
            </li>
        </ul>
    </div>
</article>
{% endblock %}