{% extends "default-layout.html" %}

{% block crumb %}
<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">Post List</h1>
                    <ol class="breadcrumb">
                        <li><a href="/">Home</a></li>
                        <li class="active">post list</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block body %}
<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <aside class="sidebar">
                    <!--<div class="widget widget-subscription">
                        <h4 class="widget-title">Get notified updates</h4>
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your Email Address">
                            </div>
                            <button type="submit" class="btn btn-main">I am in</button>
                        </form>
                    </div>-->

                    <!-- Widget Latest Posts -->
                    <div class="widget widget-latest-post">
                        <h4 class="widget-title">Popular Posts</h4>
                        <div id="popular-posts">

                        </div>
                    </div>
                    <!-- End Latest Posts -->

                    <!-- Widget Category -->
                    <div class="widget widget-category">
                        <h4 class="widget-title">Categories</h4>
                        <ul class="widget-category-list">
                            <li><a href="/post?action=1">技术</a>
                            </li>
                            <li><a href="/post?action=2">生活</a>
                            </li>
                            <!--<li><a href="/post?action=3">美食</a>
                            </li>-->
                            <li><a href="/post?action=4">旅游</a>
                            </li>
                            <!--<li><a href="#">商品</a>
                            </li>-->
                        </ul>
                    </div> <!-- End category  -->

                    <!-- Widget tag -->
                    <div class="widget widget-tag">
                        <h4 class="widget-title">Tag Cloud</h4>
                        <ul class="widget-tag-list">
                            <li><a href="#">Golang</a>
                            </li>
                            <li><a href="#">Docker</a>
                            </li>
                            <li><a href="#">Kubernetes</a>
                            </li>
                            <li><a href="#">Consul</a>
                            </li>
                        </ul>
                    </div> <!-- End tag  -->

                </aside>
            </div>
            <div class="col-md-8">
                {% for post in list %}
                <div class="post">
                    <div class="post-media post-thumb">
                        <a href="/post/{{post.id}}">
                            <img src="{{post.image_url}}?imageView/1/w/1280/h/720" alt="">
                        </a>
                    </div>
                    <h2 class="post-title"><a href="/post/{{post.id}}">{{post.title}}</a></h2>
                    <div class="post-meta">
                        <ul>
                            <li>
                                <i class="tf-ion-ios-calendar"></i> {{post.publish_at}}
                            </li>
                            <li>
                                <i class="tf-ion-android-person"></i> 由 {{post.author}} 发布
                            </li>
                            <li>
                                {% for tag in post.tags%}
                                <a href="">{{tag.name}}</a>
                                {% endfor %}
                            </li>
                            <li>
                                <a href=""><i class="tf-ion-chatbubbles"></i> {{comment|toString}} 条评论</a>
                            </li>
                        </ul>
                    </div>
                    <div class="post-content">
                        <p>{{post.desc}}</p>
                        <a href="/post/{{post.id}}" class="btn btn-main">Continue Reading</a>
                    </div>

                </div>
                {% endfor %}

                <div class="text-center">
                    <ul class="pagination post-pagination">
                        {{paginator|str2html}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block mainJs %}
<script>
    $.ajax({
        type: "GET",
        url: "/post/popular",
        dataType: "json",
        success: function (data) {
            var html = '';
            $.each(data.data, function (index, val) {
                html += '<div class="media">\n' +
                    '                            <a class="pull-left" href="/post/' + val.id + '">\n' +
                    '                                <img class="media-object" src="' + val.image_url + '?imageView2/5/w/120/h/120/format/jpg/q/75|imageslim" alt="Image">\n' +
                    '                            </a>\n' +
                    '                            <div class="media-body">\n' +
                    '                                <h4 class="media-heading"><a href="">' + val.title + '</a></h4>\n' +
                    '                                <p>' + val.desc + '</p>\n' +
                    '                            </div>\n' +
                    '                        </div>'
            });
            $('#popular-posts').html(html);
        }
    });
</script>
{% endblock%}