<!-- Main Menu Section -->
<section class="menu">
    <nav class="navbar navigation">
        <div class="container">
            <div class="navbar-header">
                <h2 class="menu-title">Main Menu</h2>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div><!-- / .navbar-header -->

            <!-- Navbar Links -->
            <div id="navbar" class="navbar-collapse collapse text-center">
                <ul class="nav navbar-nav">

                    <!-- Home -->
                    <li class="dropdown ">
                        <a href="/">Home</a>
                    </li><!-- / Home -->

                    <!-- Elements -->
                    <li class="dropdown dropdown-slide">
                        <a href="/post" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">Posts <span
                                    class="tf-ion-ios-arrow-down"></span></a>
                        <div class="dropdown-menu">
                            <div class="row">
                                <!-- Basic -->
                                <div class="col-lg-12 col-md-12 mb-sm-6">
                                    <ul>
                                        <li class="dropdown-header">文章</li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="/post">技术</a></li>
                                        <li><a href="/post?action=2">生活</a></li>
                                        <!--<li><a href="/post?action=3">旅游</a></li>
                                        <li><a href="cart.html">美食</a></li>
                                        <li><a href="pricing.html">商品</a></li>-->
                                    </ul>
                                </div>
                            </div><!-- / .row -->
                        </div><!-- / .dropdown-menu -->
                    </li><!-- / Elements -->

                    <!--<li class="dropdown dropdown-slide">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">Shop <span class="tf-ion-ios-arrow-down"></span></a>
                        <div class="dropdown-menu">
                            <div class="row">

                                <div class="col-lg-12 col-md-12 mb-sm-6">
                                    <ul>
                                        <li class="dropdown-header">生活需要快乐</li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="shop.html">衣</a></li>
                                        <li><a href="checkout.html">食</a></li>
                                        <li><a href="cart.html">住</a></li>
                                        <li><a href="pricing.html">行</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>-->

                    <!-- Blog -->
                    <li class="dropdown ">
                        <a href="/about">About</a>
                    </li><!-- / Blog -->

                    <li class="dropdown ">
                        <a href="/reward">Reward</a>
                    </li>

                    <!--<li class="dropdown ">
                        <a href="/board">Board</a>
                    </li>-->

                </ul><!-- / .nav .navbar-nav -->

            </div><!--/.navbar-collapse -->
        </div><!-- / .container -->
    </nav>
</section>